.posts_main{
    width: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    margin-bottom: 8px;
}
.bold{
    font-weight: bold;
}