{% extends 'base.html' %} 
{% load static %}
{% block title %}Home
{% endblock title %} 
{% block customcss %}
<link rel="stylesheet" href="{% static 'css/mainapp.css' %}" />
{%endblock customcss %} 
{% block mainsection %}
<section class="container mx-auto">
<h1>hello world</h1>
<h2>Wllcome To Coders Universe</h2>
<h3>your information</h3>
<h5>Email : {{email}}</h5>
<h5>Password : {{password}}</h5>
<h5>Address : {{address}}</h5>
<h4>Current City : {{city}}</h4>
<h4>City Zip Code : {{zip}}</h4>
</section>
{% endblock mainsection %} 
{% block customjs %}
<script src="{% static 'js/mainapp.js' %}"></script>
{% endblock customjs %}
