# Ignore Python bytecode
*py
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment folders (common names for virtual environments)
env/
venv/
.venv/

# Ignore environment variable files
.env

# Ignore directories that may contain temporary files, dependencies, and other unnecessary stuff
lib/
script/

# Ignore Django specific files and folders
*.db
*.sqlite3

# Ignore log files
*.log

# Ignore compiled Python files (if any)
*.so

# Ignore IDE/Editor specific files (if using PyCharm, VS Code, etc.)
.idea/
.vscode/

# Ignore Python egg and package distribution directories
.eggs/
*.egg-info/
dist/
build/

# Ignore test and coverage files
*.cover
*.coverage
*.hypothesis/

# Ignore static files (created by Django during collectstatic)
*/static/*

# Ignore media files (user-uploaded content in Django)
*/media/*

# Ignore pyenv files
.python-version

# Ignore unnecessary system files
.DS_Store
Thumbs.db
