# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Django migrations
*/migrations/*

# Django secret key and environment variables
*.env

# SQLite database
db.sqlite3

# Logs
*.log
*.log.*

# Coverage reports
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.coveragerc

# Static files
/static/

# Media files
/media/

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Python bytecode files
*.pyc
*.pyo

# .env file for sensitive settings
.env*

# PyCharm specific files
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
