{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block siteTitle %}Update Post{% endblock siteTitle %}
{% block customLinks %}{% endblock customLinks %}

<!-- Hero Section -->
{% block heroSection %}{% endblock heroSection %}
<!-- Hero Section -->

<!-- Main Section -->
{% block mainSection %}
<section>
    <div class="container mx-auto">
        <div class="w-50 p-3 mx-auto">
            <h3>Umm Your Mind Change Right ???</h3>
            <p>whats going on your mind?</p>
            <form method="post" novalidate>
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                {% for fm in form %}
                <div class="mb-3">
                    {{fm.label_tag}}
                    {{fm}}
                    {{fm.errors|striptags}}
                </div>
                {% endfor %}
                <button class="btn btn-outline-success d-block mt-3" type="submit">Update Post</button>
            </form>
        </div>
    </div>
</section> 
{% endblock mainSection %}
<!-- Main Section -->

{% block customJsLinks %}{% endblock customJsLinks %}