{% extends "home/base.html" %}
{% load static %}
{% block siteTitle %}Home{% endblock siteTitle %}
{% block customLinks %}{% endblock customLinks %}

<!-- Hero Section -->
{% block heroSection %}{% endblock heroSection %}
<!-- Hero Section -->

<!-- Main Section -->
{% block mainSection %}
<section>

    <div class="container mx-auto">
        <div class="row p-3">
            <div class="col-12 d-flex align-items-center gap-3 flex-wrap">
                {% for cat in categories.all %}
                <div>
                    <a href="{% url 'slugfield' cat.slug %}" class="btn btn-info">{{cat.category_name}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="p-3 rounded-3 row">
            {% for data in posts %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{data.post_img.url}}" alt="Card image cap" style="width: 100%">
                    <div class="card-body">
                        <a href="{% url 'postdetails' data.id %}">
                            <h5 class="card-title">{{data.post_title|truncatewords:5}}</h5>
                        </a>
                        <p class="card-text">{{data.post_content|truncatewords:15}}</p>
                        <h6 class="card-text">{{data.post_author.first_name}} {{data.post_author.last_name}}</h6>
                        <p>
                            {% for cat in data.post_category.all %}
                            <a href="{% url 'slugfield' cat.slug %}">{{cat.category_name}}</a>
                            {% endfor %}
                        </p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'updatepost' data.id %}" class="btn-info btn">Update Post</a>
                        <a href="{% url 'deletepost' data.id %}" class="btn-warning btn">Delete Post</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock mainSection %}
<!-- Main Section -->

{% block customJsLinks %}{% endblock customJsLinks %}