{% extends 'base.html' %}
{% load static %}

{% block title %}{{first_Name}} | Profile{% endblock title %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/appHome.css' %}">
{% endblock customcss %}

{% block mainsection %}
<section class="container d-flex justify-content-center align-items-center">
    <div class="profile-container">
        <h2>Welcome!</h2>
        <div class="profile-field">
            <span>Name:</span> {{first_Name}} {{last_name}}
        </div>
        <div class="profile-field">
            <span>Email:</span> {{user_email}}
        </div>
        <div class="profile-field">
            <span>Address:</span> {{user_address}}
        </div>
        <div class="profile-field">
            <span>Password:</span> {{user_password}}
        </div>
    </div>
</section>
{% endblock mainsection %}
{% block customjs %}
<script src="{% static 'js/appHome.js' %}"></script>
{% endblock customjs %}