<!-- head -->
{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block titleBlock %}Profile | {{user.first_name}} {{user.last_name}}{% endblock titleBlock %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/buynow.css' %}">
{% endblock custom_css %}
<!-- head -->


<!-- body -->
{% block hero_section %}{% endblock hero_section %}
{% block main_section %}
<section>
    <div class="container mx-auto inner-buynow">
        <div class="buynow mx-auto">
            <form method="post">
                {% csrf_token %}
                {% for fm in form %}
                <div>
                    {{fm.label}}
                    {{fm}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success mt-3">Purchase</button>
            </form>
        </div>
    </div>
</section>
{% endblock main_section %}
<!-- body -->


<!-- tale -->
{% block custom_JS %}{% endblock custom_JS %}
<!-- tale -->