{% extends "Home/Base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Change PassWord{% endblock title %}
{% block css %}{% endblock css %}

<!-- Hero Section -->
{% block hero_Section %}{% endblock hero_Section %}
<!-- Hero Section -->

<!-- MAin Section -->
{% block Main_Section %}
<section class="container mx-auto">
    <h1 class="text-secondary">Change your PassWord</h1>
    <div class="w-50 mx-auto">
        <form method="post">
            {% csrf_token %}
            <!-- {{form|crispy}} -->
             {% if form.non_field_errors %}
               {% for err in form.non_field_errors %}
                 <small class="bg-warning text-white p-2 round-2">{{err}}</small>
               {% endfor %}
             {% endif %}
             {% for fm in form %}
               {{fm.label_tag}}
               {{fm}}
               <div class="text-danger">{{fm.errors|striptags}}</div>
             {% endfor %}
             <br>
             <button class="btn btn-success" type="submit">Change Password</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
<!-- MAin Section -->

{% block js %}{% endblock js %}