{% extends "Home/Base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}
{% block css %}{% endblock css %}

<!-- Hero Section -->
{% block hero_Section %}{% endblock hero_Section %}
<!-- Hero Section -->

<!-- MAin Section -->
{% block Main_Section %}
<section class="container mx-auto p-3">
    <div class="w-50 mx-auto">
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- {{form|crispy}} -->
             {% if form.non_field_errors %}
               {% for err in form.non_field_errors %}
                 <small class="p-2 text-white bg-danger rounded-2">{{err}}</small>
               {% endfor %}
             {% endif %}
            {% for fm in form %}
              {{fm.label_tag}}
              {{fm}}
              {{fm.errors|striptags}}
            {% endfor %}
            <a class="d-block" href="">Forgot Password</a>
            <span class="d-block">Create An Account <a href="{% url 'signup' %}">Sign Up</a></span>
            <button class="btn btn-outline-danger" type="submit">Log In</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
<!-- MAin Section -->

{% block js %}{% endblock js %}