{% extends "Home/Base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

<!-- Hero Section -->
{% block hero_Section %}{% endblock hero_Section %}
<!-- Hero Section -->

<!-- MAin Section -->
{% block Main_Section %}
<section class="container mx-auto">
    <div class="w-50 mx-auto p-3 border-2 rounded-3 bg-info">
        <h1 class="text-center">Profile</h1>
        <h4>Name: {{user.first_name}} {{user.last_name}}</h4>
        <h4>User Name: {{user.username}}</h4>
        <h4>Email : {{user.email}}</h4>
        <h4>Chnage Password!!! <small><a href="{% url 'changepass' %}">Click Here</a></small></h4>
        <a class="btn btn-danger" href="{% url 'editprofile' %}">Edit Profile</a>
    </div>
</section>
{% endblock Main_Section %}
<!-- MAin Section -->

{% block js %}{% endblock js %}