{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %}{% endblock title_block %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block custom_links_block %}
    {% endblock custom_links_block %}
</head>
<body>
    <header>
        {% include "core/navbar.html" %}
        {% block hero_block %}
        {% endblock hero_block %}
    </header>
    <main>
        {% block main_block %}
        {% endblock main_block %}
    </main>
    <footer>
        {% include "core/footer.html" %}
    </footer>
    {% block custom_js_block %}
    {% endblock custom_js_block %}
</body>
</html>