{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Page{% endblock title %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'css/contactPage.css' %}">
{% endblock customcss %}
{% block main %}
<section class="container mx-auto">
    <div class="w-50 mx-auto contact_Inner">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{contact}}
            <button class="btn btn-danger mt-2">Submit</button>
        </form>
    </div>
</section>
{% endblock main %}