{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock customcss %}

{% block main %}
<h1>wellcome to baper bajar</h1>
<h2>your information</h2>
<h4>name : {{clientname}}</h4>
<h4>email : {{clientemail}}</h4>
<h4>password : {{password}}</h4>
<h4>city : {{city}}</h4>
{% endblock main %}

{% block customjs %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock customjs %}