{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Title -->
{% block title %}Change Password | {{user.first_name}} {{user.last_name}}{% endblock title %}
<!-- Title -->

<!-- Author Custom Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/Author.css' %}">
{% endblock css %}
<!-- Author Custom Css -->

<!-- Main Section -->
{% block Main_Section %}
<section class="mx-auto container">
    <div class="form_Div mx-auto">
        <h3>Log In</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- {{form|crispy}} -->
            {% for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors|striptags}}
            {% endfor %}
            <button type="submit" class="d-block mt-4 btn btn-outline-success">Change Password</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
<!-- Main Section -->

<!-- Author Custom Js -->
{% block js %}\
<script src="{% static 'js/Author.js' %}"></script>
{% endblock js %}
<!-- Author Custom Js -->