{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Title -->
{% block title %}Profile | {{user.first_name}} {{user.last_name}}{% endblock title %}
<!-- Title -->

<!-- Author Custom Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/Author.css' %}">
{% endblock css %}
<!-- Author Custom Css -->

<!-- Main Section -->
{% block Main_Section %}
<section class="mx-auto container">
    <div class="row">
        <div class="col-4 border-end-2 p-3">
            <h5>Name : {{user.first_name}} {{user.last_name}}</h5>
            <h5>Email : {{user.email}}</h5>
            <h5>Username : {{user.username}}</h5>
            <a href="{% url 'editprofile' %}" class="btn btn-info">Edit Profile</a>
            <a href="{% url 'changepass' %}" class="btn btn-warning">Change Password</a>
        </div>
        <div class="col-8 posts-container overflow-y-scroll">
            <div class="author-posts">
                {% if posts %}
                {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{post.title}}</h3>
                        <strong class="card-subtitle mb-2 text-body-secondary">{{post.subtitle}}</strong>
                        <p class="card-text">{{post.content|slice:":100"}}</p>
                        <p class="cart-text text-success bold">@{{post.author.username|slice:":12"}}</p>
                        <div class="categories">
                            {% for postcategory in post.category.all %}
                            <h6 class="link-danger categorylink">#{{postcategory}}</h6>
                            {% endfor %}
                        </div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'edit' post.id %}" class=" btn btn-info">Edit</a>
                        <a href="{% url 'delete' post.id %}" class=" btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 class="text-danger">No Data Available</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock Main_Section %}
<!-- Main Section -->

<!-- Author Custom Js -->
{% block js %}\
<script src="{% static 'js/Author.js' %}"></script>
{% endblock js %}
<!-- Author Custom Js -->