{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Title -->
{% block title %}Edit Profile | {{user.first_name}} {{user.last_name}}{% endblock title %}
<!-- Title -->

<!-- Author Custom Css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/Author.css' %}">
{% endblock css %}
<!-- Author Custom Css -->

<!-- Main Section -->
{% block Main_Section %}
<section class="mx-auto container">
    <div class="form_Div mx-auto">
        <form method="post">
            {% csrf_token %}
            <!-- {{form|crispy}} -->
            {% for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors|striptags}}
            {% endfor %}
            <button class="btn btn-success d-block mt-4">Update Profile</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
<!-- Main Section -->

<!-- Author Custom Js -->
{% block js %}\
<script src="{% static 'js/Author.js' %}"></script>
{% endblock js %}
<!-- Author Custom Js -->