.hero-img>img{
    width: 600px;
    border-radius: 10px;
}

.brands-logo>img{
    width: 100px;
}

.hero-section{
    padding: 50px 0 50px 0 !important;
}
.brands-logo-section{
    padding: 50px !important;
}

.products-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.product-scroll{
    max-height: 1007px;
    overflow-y: scroll;
}

.filter-brands{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
    padding: 18px;
    background-color: lightgray;
    border-radius: 15px;
}