<!-- head -->
{% extends "home/base.html" %}
{% load static %}
{% block titleBlock %}Home{% endblock titleBlock %}
{% block custom_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock custom_css %}
<!-- head -->


<!-- body -->
{% block hero_section %}
<section>
    <div class="container mx-auto hero-section">
        <div class="row align-items-center ms-auto">
            <div class="col-6">
                <h3>Wellcome To <span class="brand-name">Car Arena</span></h3>
                <p>Discover an extensive range of vehicles that fit your style and budget. Whether you're looking for a
                    new or used car, we have the perfect match for you.</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-check-circle text-light me-2"></i>Wide selection of brands and
                        models</li>
                    <li class="mb-2"><i class="fas fa-check-circle text-light me-2"></i>Competitive pricing and
                        financing options</li>
                    <li class="mb-2"><i class="fas fa-check-circle text-light me-2"></i>Expert reviews and vehicle
                        history reports</li>
                </ul>
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Shop Now</a>
                {% endif %}
            </div>
            <div class="col-6 hero-img">
                <img src="{% static 'images/9684913.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock hero_section %}
{% block main_section %}
<section class="mt-4">
    <div class="container mx-auto brands-logo-section">
        <div class="p-4">
            <h1 class="text-center text-info">Our Partners</h1>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="brands-logo">
                <img src="{% static 'images/audi.png' %}" alt="">
            </div>
            <div class="brands-logo">
                <img src="{% static 'images/bmw.png' %}" alt="">
            </div>
            <div class="brands-logo">
                <img src="{% static 'images/honda.png' %}" alt="">
            </div>
            <div class="brands-logo">
                <img src="{% static 'images/mercedez-benz.png' %}" alt="">
            </div>
            <div class="brands-logo">
                <img src="{% static 'images/nissan.png' %}" alt="">
            </div>
            <div class="brands-logo">
                <img src="{% static 'images/toyota.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% if not user.is_authenticated %}
<section class="mt-4">
    <div class="container mx-auto">
        <div class="p-4">
            <h1 class="text-center text-info">Our Products</h1>
        </div>
        <div class="products-section mt-4">
            {% for car in unauthenticusers_cars %}
            <div class="card">
                <img class="card-img-top" src="{{car.car_image.url}}" alt="Card image cap"
                    style="width: 100%; height: 55%;">
                <div class="card-body">
                    <h5 class="card-title">{{car.car_name}}</h5>
                    <p class="card-text text-info">{{car.car_brand.brand_name}}</p>
                    <p class="card-text text-dark"><span class="fw-bold">Price</span>{{car.car_price}}</p>

                    <a href="{% url 'detail' car.id %}" class="btn btn-primary">Show Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center p-3 mt-4">
            <h3>To Browse More Products And Buy Your Favourite One</h3>
            <span>Please</span>
            <a href="{% url 'login' %}" class="btn btn-secondary">Log In</a><span> or </span><a
                href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</section>
{% else %}
<section class="mt-4">
    <div class="container mx-auto">
        <div class="p-4">
            <h1 class="text-center text-info">Our Products</h1>
            {% if user.is_authenticated %}
            <h3 class="text-center">To Browse Please Scroll</h3>
            {% endif %}
        </div>
        <h4>Filter By Brand Name:</h4>
        <div class="filter-brands">
            <a href="{% url 'home' %}" class="btn btn-info">All</a>
            {% for brand in brands %}
            <a href="{% url 'slugfield' brand.slug %}" class="d-inline-block btn btn-info">{{brand.brand_name}}</a>
            {% endfor %}
        </div>
        <h5 class="mt-4">Total Result Found : {{authenticusers_cars|length}}</h5>
        <div class="products-section product-scroll mt-4">
            {% for car in authenticusers_cars %}
            <div class="card">
                <img class="card-img-top" src="{{car.car_image.url}}" alt="Card image cap"
                    style="width: 100%; height: 55%;">
                <div class="card-body">
                    <h5 class="card-title"><span class="fw-bold">Model : </span>{{car.car_name}}</h5>
                    <p class="card-text text-info"><span class="fw-bold">Brand : </span>{{car.car_brand.brand_name}}</p>
                    <p class="card-text text-dark"><span class="fw-bold">Price : </span>{{car.car_price}}</p>

                    <a href="{% url 'detail' car.id %}" class="btn btn-primary">Show Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock main_section %}
<!-- body -->


<!-- tale -->
{% block custom_JS %}
<script src="https://kit.fontawesome.com/a59ccc9d18.js" crossorigin="anonymous"></script>
{% endblock custom_JS %}
<!-- tale -->