{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Delete Musician{% endblock title %}

{% block Main_Section %}
<section>
    <div class="container mx-auto p-3">
        <div class="w-50 p-4 mx-auto">
            <h3>Are You Sure To Remove The Musician</h3>
            <p>Album associate with this Musician also delete Automatically</p>
            <small>Be Sure Before Delete</small>
            <form method="post" novalidate>
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                {% for fm in form %}
                <div>
                    {{fm.label}}
                    {{fm}}
                    {{fm.errors|striptags}}
                </div>
                {% endfor %}
                <button class="btn btn-success mt-3" type="submit">Delete</button>
            </form>
        </div>
    </div>
</section>
{% endblock Main_Section %}