{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Musician Profile{% endblock title %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/musician.css' %}">
{% endblock css %}

{% block Main_Section %}
<section>
    <div class="container mx-auto p-3">
        <div class="w-50 p-4 mx-auto form_style">
            <h6 class="text-center">Update Musician Profile</h6>
            <form method="post" novalidate>
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                {% for fm in form %}
                <div>
                    {{fm.label}}
                    {{fm}}
                    {{fm.errors|striptags}}
                </div>
                {% endfor %}
                <button class="btn btn-success mt-3" type="submit">Update</button>
                <a href="{% url 'deletemusician' id %}" class="btn btn-danger mt-3">Delete Musician</a>
            </form>
        </div>
    </div>
</section>
{% endblock Main_Section %}