<!-- head -->
{% extends "home/base.html" %}
{% load static %}
{% block titleBlock %}Profile | {{user.first_name}} {{user.last_name}}{% endblock titleBlock %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock custom_css %}
<!-- head -->


<!-- body -->
{% block hero_section %}{% endblock hero_section %}
{% block main_section %}
<section>
    <div class="container mx-auto">
        <div class="row p-3 gap-2 justify-content-center">
            <div class="col-4 p-3 profile-style">
                <h3>Profile Informations</h3>
                <ul class="list-unstyled mt-3">
                    <li><span class="fw-bold">Name : </span>{{user.first_name}} {{user.last_name}}</li>
                    <li><span class="fw-bold">Username : </span>{{user.username}}</li>
                    <li><span class="fw-bold">Email : </span>{{user.email}}</li>
                </ul>
                <a href="{% url 'editprofile' %}" class="btn btn-outline-light">Edit Profile</a>
                <a href="{% url 'changepass' %}" class="btn btn-outline-warning">Change Password</a>
            </div>
            <div class="col-7 p-3 profile-style">
                <h3>Order History</h3>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Brand</th>
                            <th scope="col">Car Model</th>
                            <th scope="col">Purchese Date</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% if histories %}
                        {% for history in histories %}
                        <tr>
                            <th scope="row">{{history.car_model.car_brand}}</th>
                            <td>{{history.car_model.car_name}}</td>
                            <td>{{history.purchese_date}}</td>
                            <td>{{history.net_quantity}}</td>
                            <td>{{history.total_price}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No Order created Yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock main_section %}
<!-- body -->


<!-- tale -->
{% block custom_JS %}{% endblock custom_JS %}
<!-- tale -->