{% extends "Home/Base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block css %}{% endblock css %}
{% block hero_Section %}{% endblock hero_Section %}
{% block Main_Section %}
<section class="container mx-auto">
    <div class="w-75 mx-auto">
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- {{form|crispy}} -->
            {% for fm in form %}
              {{fm.label_tag}}
              {{fm}}
              {{fm.errors|striptags}}
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-outline-success">Sign Up</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
{% block js %}{% endblock js %}