{% extends 'base.html' %} {% load static %} {% block title %}FoodCart |
Products{% endblock title %}
<!-- ===========================================
---------------CUSTOM CSS FILES------------------
==============================================-->
{% block childcss %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock childcss %}
<!-- =========================================== -->

<!-- ===========================================
---------------MAIN SECTION------------------
==============================================-->
{% block main %}
<section class="container mx-auto mt-5">
  <div class="products-container">
    {% for product in productsInfo %}
    <div class="card" style="width: w-100">
      <img src="{{product.strMealThumb}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{product.strMeal}}</h5>
        <p class="card-text">{{product.strDescription}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock main %}

<!-- ===========================================
---------------CUSTOM JS FILES------------------
==============================================-->
{% block childjs %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock childjs %}
