{% extends "Home/Base.html" %}
{% load static %}
{% block title %}Secure Baba{% endblock title %}
{% block css %}{% endblock css %}

<!-- Hero Section -->
{% block hero_Section %}{% endblock hero_Section %}
<!-- Hero Section -->

<!-- MAin Section -->
{% block Main_Section %}
<section>
    <div class="container mx-auto p-4">
        <div class="p-3 h-100 d-flex justify-content-center flex-column">
            <h1 class="text-center">WellCome To SecureSystem</h1>
            {% if user.is_authenticated %}
            <p class="text-center mt-3 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam voluptates sit, iure nostrum quo et!</p>
            <h3 class="p-3 text-center mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, veniam. Iste repellendus expedita
                quis sit eius quaerat magnam delectus quam quia quo repellat rerum doloremque unde enim a molestiae
                illum, illo blanditiis numquam saepe tempora commodi accusamus quibusdam repudiandae. Repudiandae maxime
                cum blanditiis excepturi rem?</h3>
            {% else %}
            <h4 class="text-center mt-4 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim placeat rerum
                sit itaque error necessitatibus nobis! Distinctio eius obcaecati minima ut fugiat corrupti, reiciendis
                atque possimus est nesciunt eligendi, rem expedita blanditiis quo accusamus soluta quaerat aperiam vero
                nostrum aspernatur delectus fuga sit quae temporibus? Neque earum accusamus ducimus nam!</h4>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quisquam
                architecto inventore sed vel nemo!</p>
            <div class="d-flex justify-content-center gap-3 mt-3">
                <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock Main_Section %}
<!-- MAin Section -->

{% block js %}{% endblock js %}