<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is home page</h1>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About/">About</a></li>
      </ul>
    </div>

    <div
      style="
        padding: 15px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      "
    >
      {% for i in users_data %}
      <div style="border: 1px solid black; padding: 8px">
        <h3>Name : {{i.name}}</h3>
        <h3>email : {{i.email}}</h3>
        <h3>
          Behavior : {% if i.age >= 18 %} <span>Mature</span> {% else %}
          <span>Imature</span>{% endif %}
        </h3>
        <h3>Address:</h3>
        (`{{Address=i.address}}`)
        <p>State : {{Address.state}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
