<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1 style="text-align: center">Wellcome To Baper Dokan</h1>
    <section style="width: 1144px; margin: 0 auto">
      <div style="width: 100%; padding: 15px 0; background-color: #ee9494">
        <ul style="display: flex; gap: 15px; list-style: none">
          <li>
            <a
              style="text-decoration: none; font-size: 22px; color: aliceblue"
              href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              style="text-decoration: none; font-size: 22px; color: aliceblue"
              href="/Products/"
              >About</a
            >
          </li>
        </ul>
      </div>
    </section>
    <section style="width: 1144px; margin: 0 auto">
      <h1 style="text-align: center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores cum
        repellendus in ullam autem reprehenderit pariatur libero dolores optio
        excepturi, illo nisi distinctio laborum nesciunt aliquid dolor, saepe
        obcaecati!
      </h1>
    </section>
  </body>
</html>
