{% extends "MainApp/Base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Home.css' %}">
{% endblock css %}

<!-- Main Section -->
{% block Main_Section %}
<section class="container mx-auto">
    
    <div class="form-box mx-auto">
        <h3>Contact Us</h3>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock Main_Section %}
<!-- Main Section -->

{% block js %}
<script src="{% static 'js/Home.js' %}"></script>
{% endblock js %}