{% extends "home/base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block hero_Section %}{% endblock hero_Section %}
{% block Main_Section %}
<section>
    <div class="container mx-auto p-3">
        <div class="row" style="height: 67vh;">
            <div class="col-3 p-3">
                <h5>Name: {{user.first_name}}</h5>
                <a href="{% url 'updateprofile' %}" class="btn btn-danger">Update Profile</a>
            </div>
            <div class="col-9 p-3">
                <h1 class="text-center">profile page</h1>
            </div>
        </div>
    </div>
</section>
{% endblock Main_Section %}