{% extends "home/base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock css %}
{% block hero_Section %}{% endblock hero_Section %}
{% block Main_Section %}
<section>
    <div class="container mx-auto p-5">
        <div class="profile_info mx-auto">
            <h3 class="text-info text-center">PROFILE</h3>
            <div class="mt-5">
                <h5>Name: {{user.first_name}} {{user.last_name}}</h5>
                <h5>Username: {{user.username}}</h5>
                <h5>Email: {{user.email}}</h5>
                <div class="mt-4">
                    <a href="{% url 'updateprofile' %}" class="btn btn-danger">Update Profile</a>
                    <a href="{% url 'changepass' %}" class="btn btn-danger">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock Main_Section %}